.myWorks {
    /*width:100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;*/


}
.myWorksContainer {
    flex-direction: column;
    border: 1px solid #383838;
    border-radius: 20px;
    width:100%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    min-height: 100vh;
}
.title {
    background-color:red;
}
