.contactBlock {

}
.contactContainer {

}
.title {

}
.form {
    display: flex;
}

.contact input{
    background-color: transparent;
    border: 1px solid #383838;
    border-radius: 14px;
    box-shadow: none;
    color: #FCFCFC;
    font-size: inherit;
    height: auto;
    padding: 0.875rem 1.375rem 0.8125rem;
    position: relative;
    width: 50%;
    margin: 10px;
    outline: none
}

.contact button {
    background-color: transparent;
    border: 1px solid #383838;
    border-radius: 14px;
    box-shadow: none;
    color: #FCFCFC;
    font-size: inherit;
    height: auto;
    padding: 0.875rem 1.375rem 0.8125rem;
    margin: 10px;
    display: flex;
    justify-content: flex-end;

}
.contact textarea{
    background-color: transparent;
    border: 1px solid #383838;
    border-radius: 14px;
    box-shadow: none;
    color: #FCFCFC;
    font-size: inherit;
    height: auto;
    padding: 0.875rem 1.375rem 0.8125rem;
    width: 92%;
    margin: 10px;
    resize: none;
    outline: none


}

