
.mainblock {
    /*height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;*/


}

.text {

}
.title {
    color:yellow;
    background: #0c4128;
    margin-bottom: 50px;
    margin-left: 20px;

}