.mainblock {
    height: 100vh;
    background-color: antiquewhite;
}

.text {
    width:300px;
    background-color:red;
}
.photo {
    width:300px;
    height:400px;
    background-color:rosybrown;
}