:root {
    background-color: #121212;
    /*border-color: #383838;*/
    color: white;


}

a{
    text-decoration:none;
    color: #a1a1a1;
}
.App {
    padding-top: 3.75em;
    padding-bottom: 3.75em;
    display: flex;
    justify-content: center;
    /*margin-left: 300px;
    margin-right: 300px;*/



}
.app-wraper-content{
    width: 860px;
    position: relative;
    background: #1e1e1f;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 20px;
    border: 1px solid #383838;

}
.sideAndOther {

}

@media (max-width:1200px) {
    .App {
        display: grid;
        margin-right: 50px;
        margin-left: 50px;
    }
}