.footerBlock {
    min-height: 20vh;
    background-color: #459d8a;
}
.footerContainer {
    flex-direction: column;
    justify-content:flex-start;
    border: 1px solid;
    height:100%;
    width:80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 20vh;

}
.title {
    background-color:blue;
}


.footer {

    width:100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;


}
