.footerBlock {

    border: 1px solid #383838;
    border-radius: 20px;

}
.footerContainer {


}
.title {
    background-color:blue;
    display: flex;
    justify-content: flex-start;
}


.footer {

    width:100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.titleFooter{
    display: flex;
    justify-content: center;

}